<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NewdesignPortfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="style.css">

</head>
<body>

    <header>
      <a href="#" class="logo">ASHWINRAJAN K J</a>
        
      <nav data-aos="fade-out" data-aos-duration="1500">
        <a href="#home" class="ACTIVE">Home</a>
        <a href="#skills">Skills</a>
        <a href="#experience">Experience</a>
        <a href="#contact">Contact</a> 
    </nav>
    </header>

    <section class="home">
        <div class="home-img">
            <img src="main.jpg" alt=""/>
        </div>
        <div class="home-content">
            <h1>Hi, it's <span>ASHWINRAJAN</span></h1>
            <h3 class="typing-text">I'm a <span></span></h3>
            <p>Highly skilled and Certified Cyber Security Professional with 2+ years of experience in securing IT environments...</p>
                <!-- Social Icons -->
        <div class="social-icons">
          <!-- LinkedIn Profile -->
          <a href="https://www.linkedin.com/in/ashwinrajan-k-j-2520691ba/" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
          </a>

          <!-- Instagram Profile -->
          <a href="https://www.instagram.com/ashwin_kjar/?igsh=ZjhyZGZybXp4amsx&utm_source=qr#" target="_blank">
              <i class="fa-brands fa-instagram"></i>
          </a>
           <!-- youtube Profile -->
           <a href="https://www.youtube.com/@mrashwinyt" target="_blank">
            <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
      <a href="https://wa.me/918428385032" target="_blank" class="btn">Hire Me</a>
        </div>
    </section>

    <!-- About Me Section -->
    <section class="home" id="home">
        <div class="content">
          <div class="title"><span>About Me</span></div>
            <div class="about-details">
              <div class="left">
                <img src="main.jpg" alt=""/>
              </div>
              <div class="about-details right">
                <div class="topic">Designing is my Passion</div>
                <p>
                    I am a passionate Cyber Security Analyst and Website Developer with over two years 
                    of experience in safeguarding digital assets and creating secure, high-performance 
                    websites. My expertise spans vulnerability assessments, penetration testing, 
                    threat analysis, and web development using modern technologies.
                    proficient in backend and frontend development with expertise in frameworks like Spring Boot, and Angular.
                    
                </p>
                <div class="button">
                  <a href="AshwinRajan_CV.pdf" download>
                      <button>Download CV</button>
                  </a>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-----skills-->

    <section class="skills" id="skills">
      <div class="content">
        <div class="title"><span>My Skills</span></div>
      </div>
      <div class="skills-details">
          <div class="skills-list">
              <div><span class="icon">🛡️</span> Network Security</div>
              <div><span class="icon">🔍</span> Vulnerability Assessment</div>
              <div><span class="icon">🚨</span> Incident Response</div>
              <div><span class="icon">🕵️</span> Penetration Testing</div>
              <div><span class="icon">🌐</span> Threat Intelligence</div>
              <div><span class="icon">📊</span> Risk Management</div>
              <div><span class="icon">🔬</span> Security Testing</div>
              <div><span class="icon">📜</span> Developing Security Plans</div>
              <div><span class="icon">💰</span> Bug Bounty</div>
              <div><span class="icon">☕</span> Java FullStack Developing</div>
              <div><span class="icon">🔬</span> Research & Development</div>
              <div><span class="icon">🔗</span> IDS Integration</div>
              <div><span class="icon">📂</span> Project Management</div>
              <div><span class="icon">🛠️</span> Burpsuite</div>
              <div><span class="icon">🔎</span> Nmap</div>
              <div><span class="icon">⚙️</span> SpringBoot</div>
              <div><span class="icon">☕</span> Java FullStack</div>
              <div><span class="icon">📡</span> Wireless Security</div>
              <div><span class="icon">🛑</span> SIEM & Log Analysis</div>
              <div><span class="icon">🛠️</span> DevSecOps</div>
              <div><span class="icon">🅰️</span> Angular</div>
          </div>
      </div>
  </section>
  <!-- Experience Section -->
  <section id="experience">
    <div class="experience-section">
      
        <div class="title"><span>Professional Experience</span></div>
    
        <!-- List of Experiences -->
        <ul class="experience-list">
    
            <!-- Experience Item 1 -->
            <li class="experience-item">
                <div class="job-title">Cybersecurity Analyst</div> 
                <div class="company-date">PENGER | FEB 2022 - MAY 2024</div>
                <p class="job-description">
                  - Developed and implemented comprehensive security policies and
                  countermeasures for safeguarding data against cyber threats. <br>
                - Monitored computer network for security breaches using Wireshark.<br>
                - Analyzed system logs to identify suspicious network activity and provide
                  solutions to rectify potential threats.<br>
                - Conducted network security assessments and vulnerability scans. <br>
                - Led incident response efforts and managed threat intelligence for critical systems. <br>
                - Collaborated closely with IT team to deploy firewalls, antivirus program,
                  encryption technologies, virtual private networks (VPNs), IDS/IPS systems, etc.
                  enduring robust defense against external threats.<br>
                - Created detailed documentation for installing, configuring, maintaining and
                  troubleshooting all aspects of the corporate network infrastructure including
                  routers and switches using WAN optimization techniques and protocols such
                  as SMPT (Simple Mail Transfer Protocol). <br>
                - Evaluated existing network architecture and identified areas of improved areas
                  of improvement to maximize efficiency and reduce latency issues while
                  minimizing operating costs associated with networking operations.<br>
                - Diagnosed and successfully resolved security-related issues or incidents
                  (Troubleshooting). <br>
                - Conducted regular assessments and scans to identify vulnerabilities within
                  systems and networks.<br> 
                - Analyzed and prioritized vulnerabilities based on risk levels and potential
                  impact (Vulnerability Analysis).<br>
                - Conducted penetration tests to simulate cyberattacks and assess the
                  organization's defenses. Provided detailed reports on vulnerabilities
                  discovered during testing and recommendations for remediation (Penetration
                  Testing).<br>
                - Implemented DLP technologies to monitor and protect sensitive data from
                  unauthorized access and exfiltration. Developed policies around data handling,
                  ensuring that employees understand the importance of safeguarding sensitive
                  information. <br>
                - Regularly assessed DLP effectiveness and adjusted policies or technologies as
                  needed to address emerging threats.
                - Kept myself update on the latest cybersecurity threats, vulnerabilities, and
                  trends. <br>
                - Analyzed threat intelligence data to anticipate potential attacks and enhance
                  preventive measures. Collaborated with peers and industry groups to share
                  knowledge and best practices in threat mitigation.
                </p>
            </li> 
        </ul> <!-- Closing experience list -->
    </div> <!-- Closing experience-section -->
  </section> <!-- Closing Experience Section -->

<!-- CONTACT SECTION -->
<section class="Contact" id="contact">
  <div class="content">
      <!-- Section Title -->
      <div class="title">
          <span>Contact Me</span>
      </div>
      
      <!-- Contact Information -->
      <div class="text">
          <div class="topic">Have Any Project?</div>
          <p>Don't hesitate! Feel free to reach out to me for collaboration or inquiries.</p>

          <!-- Chat Button -->
          <div class="button">
            <button (click)="openEmail()">📧 Let's Chat</button><br><br>
            <button (click)="openPhone()">📞 Call Me</button><br><br>
            <button (click)="openWhatsApp()">💬 WhatsApp</button>
          </div>
      </div>
  </div>
</section>

<!----footer-->
<footer class="footer">
  <div class="footer-content">
      <p>Created By <a href="#">Ashwin Rajan K J</a> | &#169; 2025 All Rights Reserved</p>
  </div>
</footer>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({offset:0});
</script>
</body>
</html>
      
